.page {
    width: 100%;
    margin: 0 auto;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #2A2C2F;
    overflow-x: hidden;
    box-sizing: border-box;
}