.places {
    margin-top: 78px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        margin-top: 85px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        margin-top: 84px;
    }

    .places:nth-child(5) {
        margin-top: 75px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
      margin: 0 0;
    }
}