.cover__subtitle {
    text-align: center;
    max-width: 360px;
    width: 100%;
    color: #fff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    z-index: 3;
    margin: 32px 0 0;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 80%;
        font-size: 14px;
        margin: 16px 0 0;
    }
}