.footer__link {
    color: #fff;
    margin-right: 18px;
    text-decoration: none;
    font-family: Inter-Regular;
    font-size: 16px;
    line-height: 1.018;
}

.footer__link:hover {
    color: rgba(185, 185, 185, 0.486);
    transition: .3s;
}

@media screen and (max-width:767px) {
    .footer__link {
        color: #fff;
        margin-right: 18px;
        text-decoration: none;
        font-family: Inter-Regular;
        font-size: 24px;
        line-height: 1;
    }
    .footer__link:hover {
        color: rgba(185, 185, 185, 0.486);
        transition: .3s;
    }
}