.place__paragraph {
    display: block;
    margin: 43px 0 0;
    font-family: Inter-Regular;
    font-size: 18px;
    line-height: 1.63;
    color: #fff;
    grid-area: paragraph;
}
.place__paragraph:nth-child(2){
    margin: 26px 0 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        display: block;
        margin: 32px 0 0;
        font-family: Inter-Regular;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        grid-area: paragraph;
    }
    .place__paragraph:nth-child(2){
        margin: 25px 0 0;
    } 
    
}

@media screen and (min-width: 768px){
    .place__paragraph {
        display: block;
        margin: 35px 0 0;
        font-family: Inter-Regular;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        grid-area: paragraph;
    }
    .place__paragraph:nth-child(2){
        margin: 26px 0 0;
    } 
    
}

@media screen and (min-width: 1024px){
    .place__paragraph {
        display: block;
        margin: 43px 0 0;
        font-family: Inter-Regular;
        font-size: 18px;
        line-height: 1.63;
        color: #fff;
        grid-area: paragraph;
    }
    .place__paragraph:nth-child(2){
        margin: 26px 0 0;
    }
}

