.intro__text {
    max-width: 690px;
    width: 100%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    margin: 40px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        margin: 35px 0 0;
    }
}
