.cover {
    margin: 0 auto;
    margin-top: 92px;
    max-width: 1184px;
}

@media screen and (max-width: 766px) {
    .cover {
        margin: 0 auto;
        margin-top: 66px;
        max-width: 1184px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0 auto;
        margin-top: 100px;
        max-width: 1184px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        margin: 0 auto;
        margin-top: 92px;
        max-width: 1184px;
    }
}