.place {
    display: grid;
    width: 100%;
    grid-template-areas: "head  link"
                         "image paragraph";
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    column-gap: 40px;
    margin-top: 77px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        column-gap: 29px;
        margin-top: 78px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        column-gap: 28px;
        margin-top: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-top: 59px;
    }
}